:root {
    --accent-color: #ffb703;
    --primary-color: #023047;
    --secondary-color: #219ebc;
}

.Weather {
    margin: 30px auto;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    max-width: 600px;
    color: var(--primary-color);
}

.App .search-btn {
    background-color: var(--accent-color);
    border-radius: 6px;
    color: var(--primary-color);
    font-weight: 600;
    padding: 6px 12px;
    border: 1px solid var(--accent-color);
}

.App ul {
    list-style: none;
}

.clearfix {
    display: flex;
    align-items: center;
}

/* .App canvas {
    height: 64px;
    line-height: 64px;
} */

.App .temperature {
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    margin-left: 10px;
}

.App .unit {
    font-size: 16px;
    position: relative;
    top: -34px;
    line-height: 1;
    margin-left: 4px;
}

.unit a {
    color: var(--accent-color);
}

footer {
    margin-top: 200px;
}
